.background{
    color: var(--text-hover-color);

    .modalContent{
        background-color: var(--main-container-bg);

        .modalHeader{
            border-bottom: 0;
        }

        .modalFooter{
            border-top: 0;
        }
    }

    .soundImg{
        width: 30px;
        position: absolute;
        left: 85%;
        top: 10%;
        cursor: pointer;
    }

    p{
        color: var(--secondary-bg);
    }

    .addWordButton{
        position: absolute;
        left: 90%;
        bottom: 8%;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-container-bg);
        cursor: pointer;

        div{
            font-size: 30px;
            color: var(--text-color)
        }
    }
}

@media (max-width: 900px) {
    .background{
        .addWordButton{
            position: absolute;
            left: 75%;
            bottom: 5%;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-container-bg);
            cursor: pointer;
    
            div{
                font-size: 30px;
                color: var(--text-color)
            }
        }
    }
}