.modalContent{
    background-color: var(--main-container-bg);
    color: var(--tertiary-bg);
    .modalHeader{
        border-bottom: 0;
    }

    .presetsBlockBackground{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            // height: 0;
        }

        .presetBackground{
            padding: 10px 15px;
            margin: 5px 30px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 1px solid var(--secondary-bg);
            cursor: pointer;

            &:hover{
                border: 1px solid var(--secondary-bg);
                background-color: var(--secondary-bg);
                color: var(--text-hover-color);
                p{
                    color: var(--text-hover-color);
                }

            }

            h4{

            }

            p{

            }
        }
    }

    .tagsBlock{
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;

        @media(max-width: 900px){
            &::-webkit-scrollbar {
                width: 0;
              }
        }
      


        .tagBackground{
            background-color: var(--main-container-bg);
            border: 1px solid var(--secondary-bg);
            border-radius: 20px;
            padding: 5px;
            margin: 5px 5px;
            cursor: pointer;
            color: var(--tertiary-bg);

            &:hover{
                border: 1px solid var(--secondary-bg);
                background-color: var(--secondary-bg);
                color: var(--text-hover-color);
            }
        }
    }

    .modalFooter{
        display: flex;
        justify-content: space-between;
        border-top: 0;
    }
}


.button{
    padding: 10px 12px;
    border-radius: 10px;
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-bg);
    color: var(--text-hover-color);

    &:hover{
        background-color: var(--main-container-bg);
        border: 1px solid var(--secondary-bg);
        color: var(--tertiary-bg);
    }
}